<div id="app"></div>
<a href="https://laika-app.herokuapp.com/" target="_blank"><p class="topic-button space-mission-tile">Create Your Own Space Mission!</br></br><%= image_tag "spacemission.jpg" %></p></a>
